/* Display and style subtitle only in the header of a post */
.entry-subtitle {
  display: none;
}
.entry-title + .entry-subtitle {
  display: block;
  font-style: italic;
  font-weight: 300;
  line-height: 1.0909090909;
  margin: 0 0 12px 0;
  text-transform: uppercase;
}

.entry-pseudonym {
  text-align: right;
}

.entry-postscript {
  font-size: 0.8em;
}

/* === draft previews === */
article.status-draft .entry-content h1,
article.status-draft .entry-content h2,
article.status-draft .entry-content h3,
article.status-draft .entry-content h4,
article.status-draft .entry-content h5,
article.status-draft .entry-content h6 {
  font-size: 1em;
  text-transform: uppercase;
}

article.status-draft .entry-title,
article.status-draft .entry-subtitle {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4px;
}

article.status-draft .entry-header {
  padding-bottom: 0;
}

article.status-draft .entry-title {
  font-size: 1.7em;
}

article.status-draft .entry-subtitle {
  font-size: 1.1em;
}

article.status-draft .entry-meta {
  display: none;
}

article.status-draft .entry-pseudonym {
  font-style: normal;
  font-weight: bold;
}
